.social-btn{
   padding: 0.7rem 0.9rem;
   margin-right: 1rem;
   color: #fff;
    border-radius: 5px;
   background: rgb(24, 24, 24);
}

.btn{
    padding:.7rem .9rem;
    background:rgb(24, 24, 24);
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
}
 